<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header.ejs %>
    <title>Document</title>
</head>

<body>
  <% include ./partials/navbar.ejs %>



    <h1>Spots@Patna</h1>
    <h1>Top Recomendation</h1>
    <h1>Spots@Patna</h1>




  <% include ./partials/footer.ejs %>
</body>
</html>