<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/spotList.css">
    <title>Document</title>
</head>

<body>
  <% include ./partials/navbar.ejs %>


  <div class="card">
    <div class="card-index">1</div>
    <img class="thumbnail   " src="https://source.unsplash.com/LR559Dcst70" alt="Thumbnail 1">
    <div class="card-content">
        <div class="header"><a href="#">NIT Momo Shop</a></div>
        <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="tags">
            <div class="tag">cheap</div>
            <div class="tag">area</div>
            <div class="tag">best</div>
            <div class="tag">sitting</div>
            <div class="tag">crowdy</div>
        </div>
    </div>


  <% include ./partials/footer.ejs %>
</body>
</html>
